:root {
	// brand colours
	--brand-navy-dark: #162845;
	--brand-navy: #1e365e;
	--link-blue: #0060a9;
	--link-blue-hover: #0079d6;
	--brand-blue: #7aaadd;
	--brand-blue-light: #9dc0e4;
	--background-blue: #ebf6ff;
	--brand-orange-dark: #f87a0c;
	--brand-orange: #f69139;
	--background-orange: #ffefe2;

	// neutral colours
	--brand-white: #ffffff;
	--brand-black: #000000;
	--brand-grey-dark: #2a2a2a;
	--brand-grey: #303030;
	--text-default: #58595b;
	--text-default-light: #8c8c8c;
	--text-light: #ffffff;
	--border-grey: #d4d4d4;
	--border-grey-light: #e5e5e5;
	--background-grey: #f6f8f9;
	--background-grey-hover: #edf1f2;

	// github flavours
	--color-canvas-default: #22272e;
	--color-canvas-dark: #16191e;
	--gh-neutral-grey: #444C56;
	--gh-lighter-grey: #ACBAC7;

	--spacer-xxs: 0.25rem;
	--spacer-xs: 0.5rem;
	--spacer-sm: 0.75rem;
	--spacer-md: 1rem;
	--spacer-lg: 1.5rem;
	--spacer-xl: 2rem;
	--spacer-xxl: 3rem;
	--spacer-xxxl: 4rem;
	--spacer-xxxxl: 6rem;

	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-p: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.5rem;
	--text-xxl: 1.75rem;
	--text-xxxl: 2.25rem;

	--text-size-h1: 2.5rem;
	--text-size-h2: 2rem;
	--text-size-h3: 1.5rem;
	--text-size-h4: 1.125rem;
	--text-size-h5: 1rem;
	--text-size-h6: 0.875rem;
	--text-size-p: 1rem;
	--text-size-sm: 0.875rem;
}
