{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  // "presets": ["next/babel"],
  "env": {
    "development": {
      "experiments": {
        "top-level-await": true
      }
    }
  }
}