@function nest($base, $exponent) {
	$result: $base * $exponent;
	@return $result;
}

.sidebar-item {
	color: var(--gh-lighter-grey);
	cursor: default;
	width: 100%;

	.MuiTreeItem-content {
		cursor: default;

		.MuiTreeItem-label {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&:hover {
		background-color: var(--color-canvas-default);
	}

	&.nested {
		padding-left: var(--spacer-sm);
	}
}