.sidebar-item {
  color: var(--gh-lighter-grey);
  cursor: default;
  width: 100%;

  .MuiTreeItem-content {
    cursor: default;

    &:hover {
      background: var(--color-canvas-default);;
    }

    .MuiTreeItem-label {
      font-size: var(--text-sm);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.nested {
    padding-left: var(--spacer-sm);
  }
}
