@mixin icon {
	color: var(--gh-lighter-grey);
	cursor: pointer;
	transition: all .2s;
	opacity: .8;

	&:hover {
		opacity: 1;
	}
}

.navbar {
	background: #16191e;
	display: flex;
	align-items: center;
	gap: var(--spacer-md);
	padding: var(--spacer-xxs) var(--spacer-sm);
	box-shadow: 0 10px 35px rgba(0,0,0,.1019607843);
	overflow: visible;
	height: 32px;

	.save-state {
		min-width: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// gap: var(--spacer-xxs);
		font-size: var(--text-xs);
		color: #ACBAC780; // gh lighter grey .8

		.MuiLinearProgress-root {
			transition: all .2s;
			max-width: 20px;

			&.saved {
				color: #233042;
			}
		}
	}

	.toggle-sidebar {
		@include icon;
		transform: rotate(180deg);
	}
}