.sidebar	{
	min-width: 250px;
	height: 100%;
	background: var(--color-canvas-dark);
	padding: var(--spacer-xxs) var(--spacer-sm);
	display: flex;
	flex-direction: column;
	transition: all .2s;

	&.hide {
		transform: translateX(-100%);
		// display: none;
	}
}
