.overlay {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-canvas-dark);
    // color: var(--gh-lighter-grey);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: var(--spacer-xxxl);
    border-radius: 0.5rem;
  }
}
