@mixin icon {
  color: var(--gh-lighter-grey);
  cursor: pointer;
  transition: all 0.2s;
  opacity: 0.8;

  &:hover {
    color: #fff; // neutral grey .6
  }
}

.overlay {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-canvas-dark);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: var(--spacer-xs) var(--spacer-lg);
    border-radius: 0.5rem;

    .close-icon {
      @include icon;
      position: absolute;
      right: var(--spacer-xs);
    }
  }
}
